In [58]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [59]:
url = 'https://fbref.com/en/comps/9/history/Premier-League-Seasons'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [60]:
quotes = soup.find_all(scope="row", class_='left')
len(quotes)

124

In [61]:
quotes[1]

In [62]:
seasons = ['2017-2018','2018-2019', '2019-2020', '2020-2021']

In [63]:
overall_stats_links = []
gca_stats_links = []
shooting_stats_links = []
possession_stats_links = []
for x in seasons:
    overall_stats_links.append(f'https://fbref.com//en/comps/9/{x}/{x}-Premier-League-Stats')
    gca_stats_links.append(f'https://fbref.com/en/comps/9/{x}/gca/{x}-Premier-League-Stats')
    shooting_stats_links.append(f'https://fbref.com/en/comps/9/{x}/shooting/{x}-Premier-League-Stats')
    possession_stats_links.append(f'https://fbref.com/en/comps/9/{x}/possession/{x}-Premier-League-Stats')
#all_links = [overall_stats_links, gca_stats_links, shooting_stats_links, possession_stats_links]

In [64]:
# Created lists just to contain links #
overall_df = []
gca_df = []
shooting_df = []
possession_df = []
#__________________________________________________#
#Filling lists with right links
for link in overall_stats_links:
    overall_df.append(pd.read_html(link)[0])

In [65]:
for link in gca_stats_links:
    gca_df.append(pd.read_html(link)[0])
for link in shooting_stats_links:
    shooting_df.append(pd.read_html(link)[0])
for link in possession_stats_links:
    possession_df.append(pd.read_html(link)[0])

In [66]:

#__________________________________________________#

#deleting multiindex levels#
for season_data in possession_df:
    season_data.columns = season_data.columns.droplevel(0)
for season_data in gca_df:
    season_data.columns = season_data.columns.droplevel(0)
for season_data in shooting_df:
    season_data.columns = season_data.columns.droplevel(0)

In [67]:
#overall_df[0]
#possession_df[0]
#gca_df[0]
shooting_df[0]

,Squad,# Pl,90s,Gls,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG
0,Arsenal,30,38.0,73,589,223,37.9,15.50,5.87,0.12,0.31,17.9,30,4,5,68.3,64.3,0.11,4.7,4.7
1,Bournemouth,22,38.0,45,462,153,33.1,12.16,4.03,0.09,0.27,18.3,15,3,3,38.8,36.4,0.08,6.2,5.6
2,Brighton,24,38.0,33,377,110,29.2,9.92,2.89,0.07,0.25,18.3,4,5,7,37.0,31.8,0.09,-4.0,-3.8
3,Burnley,24,38.0,35,378,126,33.3,9.95,3.32,0.09,0.28,17.0,16,0,0,32.3,32.3,0.09,2.7,2.7
4,Chelsea,26,38.0,60,603,210,34.8,15.87,5.53,0.09,0.27,17.9,20,3,3,54.4,52.0,0.09,5.6,5.0
5,Crystal Palace,28,38.0,44,466,134,28.8,12.26,3.53,0.08,0.27,17.8,20,8,10,53.5,45.9,0.10,-9.5,-9.9
6,Everton,30,38.0,42,351,110,31.3,9.24,2.89,0.11,0.34,17.6,8,5,8,40.5,34.1,0.10,1.5,2.9
7,Huddersfield,25,38.0,25,360,106,29.4,9.47,2.79,0.06,0.22,18.8,14,2,2,31.3,29.8,0.08,-6.3,-6.8
8,Leicester City,27,38.0,53,417,137,32.9,10.97,3.61,0.12,0.35,17.6,11,5,6,50.0,45.3,0.11,3.0,2.7
9,Liverpool,27,38.0,82,635,226,35.6,16.71,5.95,0.13,0.35,17.7,22,2,3,72.9,70.6,0.11,9.1,9.4
10,Manchester City,25,38.0,103,656,254,38.7,17.26,6.68,0.15,0.38,17.8,30,6,8,78.6,72.7,0.11,24.4,24.3
11,Manchester Utd,27,38.0,67,509,170,33.4,13.39,4.47,0.13,0.39,18.4,21,1,3,55.7,53.3,0.11,11.3,12.7
12,Newcastle Utd,27,38.0,38,450,146,32.4,11.84,3.84,0.08,0.26,19.2,21,0,1,41.6,40.9,0.09,-3.6,-2.9
13,Southampton,26,38.0,36,447,136,30.4,11.76,3.58,0.07,0.24,18.1,11,3,3,39.9,37.6,0.09,-3.9,-4.6
14,Stoke City,30,38.0,34,380,122,32.1,10.00,3.21,0.09,0.28,18.1,11,0,3,36.5,34.1,0.09,-2.5,-0.1
15,Swansea City,26,38.0,27,338,95,28.1,8.89,2.50,0.08,0.27,18.2,15,1,1,31.6,30.8,0.10,-4.6,-4.8
16,Tottenham,25,38.0,70,620,209,33.7,16.32,5.50,0.11,0.33,18.4,28,2,3,64.7,62.3,0.10,5.3,5.7
17,Watford,29,38.0,42,434,126,29.0,11.42,3.32,0.09,0.31,17.9,10,3,6,45.0,40.2,0.09,-3.0,-1.2
18,West Brom,24,38.0,31,377,111,29.4,9.92,2.92,0.08,0.27,17.7,15,1,1,36.5,35.7,0.10,-5.5,-5.7
19,West Ham,27,38.0,48,368,127,34.5,9.68,3.34,0.13,0.36,18.2,17,2,4,36.7,33.6,0.09,11.3,12.4

In [68]:
#deleted unnecessary(in my opinion) columns
for season in range(len(overall_df)):
    overall_df[season].drop(columns=['MP', 'Attendance', 'Top Team Scorer', 'Goalkeeper', 'Notes'], inplace = True)
#__________________#

In [69]:
overall_df[0]

,Rk,Squad,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90
0,1,Manchester City,32,4,2,106,27,79,100,2.63,78.6,23.8,54.8,1.44
1,2,Manchester Utd,25,6,7,68,28,40,81,2.13,55.7,40.7,15.0,0.40
2,3,Tottenham,23,8,7,74,36,38,77,2.03,64.7,33.9,30.8,0.81
3,4,Liverpool,21,12,5,84,38,46,75,1.97,72.9,33.8,39.1,1.03
4,5,Chelsea,21,7,10,62,38,24,70,1.84,54.4,33.8,20.6,0.54
5,6,Arsenal,19,6,13,74,51,23,63,1.66,68.3,47.8,20.5,0.54
6,7,Burnley,14,12,12,36,39,-3,54,1.42,32.3,51.2,-18.9,-0.50
7,8,Everton,13,10,15,44,58,-14,49,1.29,40.5,52.4,-11.9,-0.31
8,9,Leicester City,12,11,15,56,60,-4,47,1.24,50.0,48.1,1.9,0.05
9,10,Newcastle Utd,12,8,18,39,47,-8,44,1.16,41.6,52.4,-10.8,-0.28
10,11,Crystal Palace,11,11,16,45,55,-10,44,1.16,53.5,48.2,5.2,0.14
11,12,Bournemouth,11,11,16,45,61,-16,44,1.16,38.8,59.2,-20.4,-0.54
12,13,West Ham,10,12,16,48,68,-20,42,1.11,36.7,55.1,-18.4,-0.48
13,14,Watford,11,8,19,44,64,-20,41,1.08,45.0,51.8,-6.8,-0.18
14,15,Brighton,9,13,16,34,54,-20,40,1.05,37.0,50.8,-13.8,-0.36
15,16,Huddersfield,9,10,19,28,58,-30,37,0.97,31.3,48.5,-17.2,-0.45
16,17,Southampton,7,15,16,37,56,-19,36,0.95,39.9,45.2,-5.3,-0.14
17,18,Swansea City,8,9,21,28,56,-28,33,0.87,31.6,58.6,-27.0,-0.71
18,19,Stoke City,7,12,19,35,68,-33,33,0.87,36.5,62.5,-26.0,-0.69
19,20,West Brom,6,13,19,31,56,-25,31,0.82,36.5,47.9,-11.4,-0.30

In [70]:
gca_df[0]

,Squad,# Pl,90s,SCA,SCA90,PassLive,PassDead,Drib,Sh,Fld,Def,GCA,GCA90,PassLive,PassDead,Drib,Sh,Fld,Def
0,Arsenal,30,38.0,1079,28.39,830,53,70,65,53,8,131,3.45,95,8,7,12,7,2
1,Bournemouth,22,38.0,809,21.29,582,78,52,43,39,15,83,2.18,53,8,5,8,7,2
2,Brighton,24,38.0,684,18.00,489,73,46,37,31,8,60,1.58,43,3,4,4,6,0
3,Burnley,24,38.0,665,17.50,441,88,36,43,48,9,58,1.53,37,4,4,11,2,0
4,Chelsea,26,38.0,1115,29.34,840,83,81,54,46,11,110,2.89,84,7,8,3,8,0
5,Crystal Palace,28,38.0,834,21.95,528,83,90,56,60,17,78,2.05,50,3,7,9,9,0
6,Everton,30,38.0,627,16.50,454,58,31,31,41,12,71,1.87,41,4,8,9,5,4
7,Huddersfield,25,38.0,621,16.34,444,52,38,35,36,16,45,1.18,29,4,6,3,3,0
8,Leicester City,27,38.0,728,19.16,495,83,60,45,38,7,94,2.47,68,8,6,5,7,0
9,Liverpool,27,38.0,1138,29.95,861,71,96,58,35,17,144,3.79,98,5,27,8,5,1
10,Manchester City,25,38.0,1209,31.82,943,73,76,52,52,13,193,5.08,150,8,16,7,10,2
11,Manchester Utd,27,38.0,916,24.11,700,54,68,45,38,11,117,3.08,81,6,12,12,5,1
12,Newcastle Utd,27,38.0,782,20.58,561,72,45,45,39,20,63,1.66,43,7,2,10,1,0
13,Southampton,26,38.0,797,20.97,589,71,54,41,32,10,65,1.71,40,5,9,6,5,0
14,Stoke City,30,38.0,669,17.61,463,69,41,44,41,11,62,1.63,39,8,4,7,3,1
15,Swansea City,26,38.0,581,15.29,396,57,47,37,33,11,40,1.05,23,7,1,6,1,2
16,Tottenham,25,38.0,1091,28.71,811,75,68,72,51,14,114,3.00,81,7,8,11,7,0
17,Watford,29,38.0,764,20.11,526,73,59,47,40,19,69,1.82,41,5,8,10,5,0
18,West Brom,24,38.0,648,17.05,449,78,39,33,38,11,51,1.34,35,6,4,3,3,0
19,West Ham,27,38.0,657,17.29,457,64,58,23,48,7,79,2.08,51,5,9,7,5,2

In [71]:
#gca_df[0].columns = gca_df[0].columns.droplevel(0)

In [72]:
overall_df[0].merge(gca_df[0], on='Squad')

,Rk,Squad,W,D,L,GF,GA,GD,Pts,Pts/MP,...,Fld,Def,GCA,GCA90,PassLive,PassDead,Drib,Sh,Fld,Def
0,1,Manchester City,32,4,2,106,27,79,100,2.63,...,52,13,193,5.08,150,8,16,7,10,2
1,2,Manchester Utd,25,6,7,68,28,40,81,2.13,...,38,11,117,3.08,81,6,12,12,5,1
2,3,Tottenham,23,8,7,74,36,38,77,2.03,...,51,14,114,3.00,81,7,8,11,7,0
3,4,Liverpool,21,12,5,84,38,46,75,1.97,...,35,17,144,3.79,98,5,27,8,5,1
4,5,Chelsea,21,7,10,62,38,24,70,1.84,...,46,11,110,2.89,84,7,8,3,8,0
5,6,Arsenal,19,6,13,74,51,23,63,1.66,...,53,8,131,3.45,95,8,7,12,7,2
6,7,Burnley,14,12,12,36,39,-3,54,1.42,...,48,9,58,1.53,37,4,4,11,2,0
7,8,Everton,13,10,15,44,58,-14,49,1.29,...,41,12,71,1.87,41,4,8,9,5,4
8,9,Leicester City,12,11,15,56,60,-4,47,1.24,...,38,7,94,2.47,68,8,6,5,7,0
9,10,Newcastle Utd,12,8,18,39,47,-8,44,1.16,...,39,20,63,1.66,43,7,2,10,1,0
10,11,Crystal Palace,11,11,16,45,55,-10,44,1.16,...,60,17,78,2.05,50,3,7,9,9,0
11,12,Bournemouth,11,11,16,45,61,-16,44,1.16,...,39,15,83,2.18,53,8,5,8,7,2
12,13,West Ham,10,12,16,48,68,-20,42,1.11,...,48,7,79,2.08,51,5,9,7,5,2
13,14,Watford,11,8,19,44,64,-20,41,1.08,...,40,19,69,1.82,41,5,8,10,5,0
14,15,Brighton,9,13,16,34,54,-20,40,1.05,...,31,8,60,1.58,43,3,4,4,6,0
15,16,Huddersfield,9,10,19,28,58,-30,37,0.97,...,36,16,45,1.18,29,4,6,3,3,0
16,17,Southampton,7,15,16,37,56,-19,36,0.95,...,32,10,65,1.71,40,5,9,6,5,0
17,18,Swansea City,8,9,21,28,56,-28,33,0.87,...,33,11,40,1.05,23,7,1,6,1,2
18,19,Stoke City,7,12,19,35,68,-33,33,0.87,...,41,11,62,1.63,39,8,4,7,3,1
19,20,West Brom,6,13,19,31,56,-25,31,0.82,...,38,11,51,1.34,35,6,4,3,3,0

In [88]:
total_data = []
for x in range(0,4):
    total_data.append(overall_df[x].merge(gca_df[x], on='Squad').merge(shooting_df[x],on='Squad').merge(possession_df[x],on='Squad'))

In [89]:
total_data[0].columns

Index(['Rk', 'Squad', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP', 'xG_x',
       'xGA', 'xGD', 'xGD/90', '# Pl_x', '90s_x', 'SCA', 'SCA90', 'PassLive',
       'PassDead', 'Drib', 'Sh_x', 'Fld', 'Def', 'GCA', 'GCA90', 'PassLive',
       'PassDead', 'Drib', 'Sh_x', 'Fld', 'Def', '# Pl_y', '90s_y', 'Gls',
       'Sh_y', 'SoT', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'Dist', 'FK',
       'PK', 'PKatt', 'xG_y', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG', '# Pl',
       'Poss', '90s', 'Touches', 'Def Pen', 'Def 3rd', 'Mid 3rd', 'Att 3rd',
       'Att Pen', 'Live', 'Succ', 'Att', 'Succ%', 'Mis', 'Dis', 'Rec', 'Prog'],
      dtype='object')

In [90]:
total_data[0]

,Rk,Squad,W,D,L,GF,GA,GD,Pts,Pts/MP,...,Att 3rd,Att Pen,Live,Succ,Att,Succ%,Mis,Dis,Rec,Prog
0,1,Manchester City,32,4,2,106,27,79,100,2.63,...,9637,1250,33523,503,732,68.7,553,406,25968,1727
1,2,Manchester Utd,25,6,7,68,28,40,81,2.13,...,7031,891,25801,466,736,63.3,512,399,17580,1168
2,3,Tottenham,23,8,7,74,36,38,77,2.03,...,7379,938,27702,436,719,60.6,534,460,19042,1650
3,4,Liverpool,21,12,5,84,38,46,75,1.97,...,7209,1056,28645,440,652,67.5,574,447,20158,1735
4,5,Chelsea,21,7,10,62,38,24,70,1.84,...,7255,992,27029,513,734,69.9,533,414,18771,1395
5,6,Arsenal,19,6,13,74,51,23,63,1.66,...,8229,1098,29048,383,547,70.0,540,412,20681,1612
6,7,Burnley,14,12,12,36,39,-3,54,1.42,...,4291,586,19387,218,345,63.2,489,345,10359,806
7,8,Everton,13,10,15,44,58,-14,49,1.29,...,4846,599,20923,264,461,57.3,616,381,11776,846
8,9,Leicester City,12,11,15,56,60,-4,47,1.24,...,4918,673,21245,422,718,58.8,516,358,12160,887
9,10,Newcastle Utd,12,8,18,39,47,-8,44,1.16,...,4486,598,20101,304,535,56.8,523,410,10901,885
10,11,Crystal Palace,11,11,16,45,55,-10,44,1.16,...,5240,797,20714,479,718,66.7,618,482,11644,950
11,12,Bournemouth,11,11,16,45,61,-16,44,1.16,...,5325,780,22166,343,638,53.8,564,419,13269,1095
12,13,West Ham,10,12,16,48,68,-20,42,1.11,...,4602,590,20400,423,642,65.9,503,389,11584,819
13,14,Watford,11,8,19,44,64,-20,41,1.08,...,5338,778,21622,332,565,58.8,547,410,12556,1027
14,15,Brighton,9,13,16,34,54,-20,40,1.05,...,4410,585,20398,299,487,61.4,496,296,11679,883
15,16,Huddersfield,9,10,19,28,58,-30,37,0.97,...,5004,526,21269,276,491,56.2,546,416,11815,794
16,17,Southampton,7,15,16,37,56,-19,36,0.95,...,5589,698,23075,379,531,71.4,495,379,14124,1130
17,18,Swansea City,8,9,21,28,56,-28,33,0.87,...,4489,529,21190,318,523,60.8,503,439,13047,844
18,19,Stoke City,7,12,19,35,68,-33,33,0.87,...,4222,593,18882,325,507,64.1,532,403,9933,861
19,20,West Brom,6,13,19,31,56,-25,31,0.82,...,4425,584,19131,321,527,60.9,532,446,10303,772

In [91]:
for x in range(len(total_data)):
    total_data[x].to_csv('total_data'+str(x),index=False)